html, body {
    height: 100%; /* Ensures the full height of the viewport is used */
    margin: 0; /* Remove default margin */
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #a8c0ff;  /* Fallback for older browsers */
    background: -webkit-linear-gradient(to right, #3f2b96, #a8c0ff);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #3f2b96, #a8c0ff); /* Modern browsers */
}

.container {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

.result {
    margin-top: 10px;
    padding: 10px;
    background: #ddd;
    border-radius: 5px;
    display: none;
}

h1, h2 {
    text-align: center; /* Centers the text */
    color: #333; /* Sets a dark text color */
}

h1 {
    font-size: 2em; /* Makes h1 larger */
    margin-bottom: 20px; /* Adds space below h1 */
}

h2 {
    font-size: 1.5em; /* Makes h2 slightly smaller */
    margin-bottom: 10px; /* Adds space below h2 */
}
